{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{asset("css/style1234.css")}}">
<div id="container">
<center><h1>Reclamations list</h1></center>
    <div class="row">
    <div class="col-md-10 col-lg-push-1" > 
        <ul>
        <li>
            <a href="{{ path('reclamation_new') }}"><input type="button" class="btn btn-warning" value="Ajouter un neuveux reclamation"></a>
        </li>
    </ul>
    </div>
    </div>

    <div id="row">
    <div class="col-md-10 col-lg-push-1" >
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Objet</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                <td>{{ reclamation.code }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.contenu }}</td>
                <td>
                    <ul>
                        <li id="horiz">
                            <a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}"><input type="button" class="btn btn-info" value="Show"></a>
                        </li>
                        <li id="horiz">
                            <a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}"><input type="button" class="btn btn-warning" value="Edit"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    
</div>
{% endblock %}
