{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{asset("css/style1234.css")}}">
<div id="container">
<center><h1>Reclamation</h1></center>

    <div class="col-md-10 col-lg-push-1" >
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            
            <tr>
                <th>Code</th>
                <td>{{ reclamation.code }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ reclamation.objet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reclamation.contenu }}</td>
            </tr>
        </tbody>
    </table>
    <div id="buttons">
    <ul>
        <li id="horiz">
            <a href="{{ path('reclamation_index') }}"><input class="btn btn-warning" type="submit" value="Retourner"></a>
        </li>
        <li id="horiz">
            <a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}"><input class="btn btn-primary" type="submit" value="Modifier"></a>
        </li>
        <li id="horiz">
            {{ form_start(delete_form) }}
            
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
    </div>
    </div>
    
{% endblock %}
