{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{asset("css/style1234.css")}}">
<div id="container">
<center><h1>Creer un client</h1></center>
    <div class="col-md-4 col-lg-push-4" >
    {{ form_start(form) }}
         {# {{ form_widget(edit_form) }} #}

        <div class="form-group">{{form_row(form.nom,{'attr':{'class':'form-control'}})}}</div>

        <div class="form-group">
            {{form_label(form.prenom)}}
            {{form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
        </div>

        <div class="form-group">
            {{form_label(form.email)}}
            {{form_widget(form.email,{'attr':{'class':'form-control'}})}}
        </div>

        <div class="form-group">
            {{form_label(form.adress)}}
            {{form_widget(form.adress,{'attr':{'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{form_label(form.dateNaissance)}}
            {{form_widget(form.dateNaissance,{'attr':{'class':'form-control'}})}}
        </div>
        <div id="buttons">
        <ul>
        <li id="horiz">
            <a href="{{ path('client_index') }}"><input type="button" class="btn btn-warning" value="Retourner"></a>
            
        </li>
        <li id="horiz"><input class="btn btn-success"type="submit" value="Ajouter" /></li>
        </ul>

        
    {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}
