{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{asset("css/style1234.css")}}">
<div id="container">
<center><h1>Client</h1></center>
    <div class="col-md-10 col-lg-push-1" >
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenome</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adress }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if client.dateNaissance %}{{ client.dateNaissance|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div id="buttons">
    <ul>
        <li id="horiz">
            <a href="{{ path('client_index') }}"><input class="btn btn-warning" type="submit" value="Retourner"></a>
        </li>
        <li id="horiz">
            <a href="{{ path('client_edit', { 'id': client.id }) }}"><input class="btn btn-primary" type="submit" value="Modifier"></a>
        </li>
        <li id="horiz">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
    </div>
    </div>
{% endblock %}
